<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w1101.gamemarket.mapper.GameMapper">
    <select id="selectByPage" resultType="com.w1101.gamemarket.entity.Game">
        SELECT g.game_avatar,game_title,l.add_time FROM game AS g
        JOIN library AS l ON l.game_id = g.game_id
        WHERE l.user_id = #{userId}
        ORDER BY l.add_time DESC
    </select>
    
    <select id="selectPageTotal" resultType="int">
        SELECT COUNT(DISTINCT game_id) AS total FROM library
        WHERE user_id=#{userId};
    </select>
    <select id="findFactoryIdByGameId" resultType="java.lang.Integer">
        SELECT factory_id FROM game WHERE game_id=#{gameId};
    </select>
</mapper>
